@charset "utf-8";
@import url("../webfonts/BYekan/stylesheet.css");
/** {*/
	/*display: block;*/
	/*border: 1px solid #000000;*/
/*}*/
body {
	font-family: BYekan;
	font-size: 15px;
	line-height: none;
	font-weight: normal;
	color: #efe;
	margin: 0px;

	direction: rtl;
	text-align: justify;
}

.circle {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}
/**/
/**/
/*header style goes here*/
header {
	background-color: #028fcc;
	height: 13vh;
	position: relative;
	transition-property: all;
	transition-duration: 2s;
}
header nav {
	position: absolute;
	top: 30%;
	transform: translate(0, -30%);
	background-color:#028fcc ;
}
nav a {
	text-decoration: none;
	color: #fff;
}
header nav ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:90vh;

}
header nav ul li a {
}
header nav ul li {
	text-align: center;
	width: 50%;
	float: left;
	cursor: pointer;
}
header nav ul li:hover {
	background-color: #32BFFC;
}
header #khani {
	float: left;
	margin-left: 2px;
	height: 13vh;
	line-height: 12vh;
	vertical-align: middle;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-family: Verdana, Geneva, sans-serif;
}

.header-style {
	background-color: rgba(0,0,0,0.8);
}
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.1);
	opacity: 0.5;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#menuPic {
	background: url(../img/nav-icon.png) no-repeat;
	width: 30px;
	height: 30px;
	position: fixed;
}

/**/
/**/
/*banner or home page style goes here*/
#home {
	height: 100vh;
	clear: both;
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#letf-banner-content {
}
#right-banner {
	float: left;
}
#right-banner-content {
}

#right-banner-content div {
}
#home #my-image {
	text-align: center;
	padding-top: 2px;
	display: none;
}
#home #my-name {
	text-align: center;
	alignment-baseline: after-edge;
	margin-left: auto;
	margin-right: auto;
}

#btnStart {
	color: #fff;
	width: 33vw;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	cursor: default;
	border: 1px solid #fff;
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	font-family: BYekan, Geneva, sans-serif;
	font-weight: normal;
}
#div-btn-start {
	text-align: center;
	margin-top: 0px;
}
#div-btn-start a {
	text-decoration: none;
}
#div-btn-start a:hover {
	background-color: #0033FF;
}
/**/
/**/
/*profile style goes here*/

#profile {
	height: 900px;
	background-color: #273038;
}
/**/
/**/
/*rezume style goes here*/

#rezume {
	background:url("../img/bg2.jpg") 50% 0 no-repeat fixed;
	height: 30vh;
	background-size: cover;

}
/**/
/*//*/
/*sample section style goes here*/
#sample{
	height: 100vh;
	background-color: darkviolet;

}
/**/
/**/
/*blog section style goes here*/
#blog{
	height:100vh;
	background-color:darkgreen;

}
/**/
/**/
/*contact with me section style goes here*/
#contact{
	height:100vh;
	background-color:darkgrey;

}
/**/
/**/
/*friends  section style goes here*/
#friends{}
#container {
	position: relative;
	bottom: 0%;
	left:0%;
	height: 100%;
	width: 100%;
	overflow: hidden;

}
#container .content {
	position:absolute;
	font-weight: 100;
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 2rem;
	width: 33%;
	float: left;
	font-size: 1.2rem;
}
/**/
/**/
/*footer  section style goes here*/
footer {

	background-color: #21B2A6;
	height: 100vh;
}

/*nav a#pull:befor {
        content:"";
        background: url(../img/nav-icon.png) no-repeat;
        width: 30px;
        height: 30px;}
   */     
     

.row:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}


/* For mobile phones: */
/*[class*="col-"] {
    width: 100%;
}*/
@media only screen and (max-width: 480px) {
/* For mobile div 
*/
.col-s-1 {
	width: 8.33%;
}
.col-s-2 {
	width: 16.66%;
}
.col-s-3 {
	width: 25%;
}
.col-s-4 {
	width: 33.33%;
}
.col-s-5 {
	width: 41.66%;
}
.col-s-6 {
	width: 50%;
}
.col-s-7 {
	width: 58.33%;
}
.col-s-8 {
	width: 66.66%;
}
.col-s-9 {
	width: 75%;
}
.col-s-10 {
	width: 83.33%;
}
.col-s-11 {
	width: 91.66%;
}
.col-s-12 {
	width: 100%;
}
body {
	font-size: 16px;
}
}

@media only screen and (min-width: 600px) {
/* For tabletbody div {
}
    /* For tablets: */
.col-m-1 {
	width: 8.33%;
}
.col-m-2 {
	width: 16.66%;
}
.col-m-3 {
	width: 25%;
}
.col-m-4 {
	width: 33.33%;
}
.col-m-5 {
	width: 41.66%;
}
.col-m-6 {
	width: 50%;
}
.col-m-7 {
	width: 58.33%;
}
.col-m-8 {
	width: 66.66%;
}
.col-m-9 {
	width: 75%;
}
.col-m-10 {
	width: 83.33%;
}
.col-m-11 {
	width: 91.66%;
}
.col-m-12 {
	width: 100%;
}
header nav ul li {
	width: 100%;
}
body {
	font-size: 17px;
}
}

@media only screen and (min-width: 720px) {
/* For desktop: */
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
body {
	font-size: 19px;
}
header nav ul {
	display: inline;
}
header nav ul li {
	width: auto;
	display: inline;
	margin-right: 20px;
	direction: ltr;
	float: right;
}
#pull {
	display: none;
}
}
